<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GitHub User Finder</a>
    </div>
  </div>
</nav>

<div class="container">
  <h1> Welcome to the GitHub User Finder App.</h1>
  <p>Search the user by typing the username below</p>
    <app-github></app-github>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
          <footer>
              <p>&copy;2017</p>
              <p>Designed and Developed by <a href="http://alabi4code.com" target="_blank">Adetunji Alabi</a></p>
          </footer>
      </div>
    </div>
</div>

