<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter GitHub Username..." name="username" [(ngModel)]="username" (keypress)="search()">
      </div>
    </form>  
  </div>
</div>

<div *ngIf="user">
        <div class="row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                     <h3 class="panel-title">Profile Name: {{user.name}}</h3>
                  </div>
                  <div class="panel-body">
                     <div class="col-md-3">
                        <img src="{{user.avatar_url}}" class="avatar thumbnail">
                        <a href="{{user.html_url}}" target="_blank" class="btn btn-danger btn-lg avatar">View Profile</a>
                     </div>
                     <div class="col-md-9">
                        <span class="label label-default">Public Repos: {{user.public_repos}}</span>
                        <span class="label label-primary">Public Gists: {{user.public_gists}}</span>
                        <span class="label label-success">Followers: {{user.followers}}</span>
                        <span class="label label-info">Following: {{user.following}}</span>
                        <br><br>
                        <ul class="list-group">
                            <li class="list-group-item">Company: {{user.company}}</li>
                            <li class="list-group-item">Website/Blog: {{user.blog}}</li>
                            <li class="list-group-item">Location: {{user.location}}</li>
                            <li class="list-group-item">Member since: {{user.created_at}}</li>
                        </ul>
                     </div>
                  </div>
                </div>
              </div>
              
              
              <div class="row">
                <h3 class="page-header">Repos</h3>
                  <div class="well">
                      <div *ngFor="let repo of repos">
                        <div class="row">
                            <div class="col-md-7">
                                <strong style="color:black;">{{repo.name}}:</strong> {{repo.description}}
                            </div>
                            <div class="col-md-3">
                                <span class="label label-success">forks: {{repo.forks_count}}</span>
                                <span class="label label-info">watcher: {{repo.watchers_count}}</span>
                                <span class="label label-warning">stars: {{repo.stargazers_count}}</span>
                            </div>
                            <div class="col-md-2">
                                <a href="{{repo.html_url}}" class="btn btn-success" target="_blank">View Repo</a>
                            </div>
                            <hr>
                            <br>
                            <br>
                        </div>          
                      </div>
                  </div>
              </div>
                 
</div>
